*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#para1::before {
    content:"ㅋㅋㅋ";
    color: red;
}
#para1::after{
    content:"ㅎㅎㅎ";
    color: green;
}
#list1{
    margin-left: 25px;
}
#list1>li::after{
    content:" 원";
    font-size: 0.8em;
    color: gray;
}
/* 가상요소는 내용이 아닌것으로 취급받음
before와 after는 아무대나못씀
<> </>이렇게 닫히는 태그가 있어야 사용가능 */
#clsBtn{
    width: 50px;
    height: 50px;
    position: relative;
}
#clsBtn::before,
#clsBtn::after{
    content: "";
    display: block;
    width:50px;
    height: 3px;
    background-color: red;

    position: absolute;
    left: 50%;
    top: 50%;
    transition: all 0.4s;
}
/* transtiton[애니메이션화시킬껄암시] */
/*  transform: translate[위치고정] = 자신의 사이즈에서 움직인다.
    [기존은 position: static 상태이다.]
    position: absolute; (기준점이 없어짐[좌상단기준으로 움직임]/무엇인가 겹칠때사용)
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    가운대로 보내는 초식 */
    /* position: relative; (자기가 원래있던 위치 기준)
                left: 100px;
                top: 50px; */
#clsBtn::before{
    transform: translate(-50%,-50%) rotate(45deg);    
}
#clsBtn::after{
    transform: translate(-50%,-50%) rotate(-45deg);
}
/* rotate[회전시키기] translate랑 같이쓸때 순서 바뀌면 모양도바뀌기떄문에
순서 중요시생각해야됨 */
#clsBtn:hover::before, 
#clsBtn:hover::after {
    transform: translate(-50%,-50%) rotate(0deg);
    width: 20px;
    height: 20px;
}
/* clsBtn:hover::before 클로우스버튼에
마우스를 올렸을때 비포는 */