*{
    margin:0 auto;
    padding:0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}

#wrap{
    width:100vw; 
    height:100vh;/* 화면에 맞게 꽉차기*/
    background:#EAEAEA;
}
#top{
    position:relative;
    width:100%;
    height: auto;
    display:flex;
    justify-content: right;
    background: #ddd;
}
#login_box li{
    width:100%;
    position:fixed; /*리스트 가로로 정렬*/
    top:0;
    left:0;
    margin-left:20px;
    font-size: 12px;
}
#logo{
    width:100%;
    height:10%;
    display:flex;
    justify-content: space-between;
    background: #5D5D5D;
}
#menu_box>.menu li{
    float:left;
    padding-right:100px;
    padding-top:20px;
}
#menu_box::before{
    
}
#wrap #topImage{
    width:100%;
    height:300px;
    overflow: hidden;
}
#centerImg{
    width:1290px;
    height: 80px;
    display:flex;
    flex-wrap: wrap;
}
#centerImg>.CT1{
    width:600px;
    height:75px;
}
#centerImg>.CT2{
    width:615px;
    height:75px;
}
.CT2{
    position: relative;
}
span {
    font-size: 20px;
    background: black;
    color: white;
    display: inline-block;
    padding:22px;
    
}
#midMenuBox{
    width:80%;
    height:930px;
    background: yellowgreen;
    
}
#midMenu{
    width:60%;
    height:20%;
    padding-bottom:50px;
    display:flex;
    
}

#midMenuBox #midMenu .midBox{
   width:80%;
   height:50px;
   display:flex;
}
#midMenuBox #midMenu p{
    text-align: center;
    font-size: 24px;
}
#imgBox {
    width:800px;
    height: 600px;
}
