*{
    margin:0 auto;
    padding:0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}

#wrap{
    width:1300px;
    height:1800px;
    background:#EAEAEA;
}
#top{
    width:100%;
    height: auto;
    display:flex;
    justify-content: right;
    background: #ddd;
}
#top #login_box li{
    float: left; /*리스트 가로로 정렬*/
    margin-left:20px;
    font-size: 12px;
}
#logo{
    width:100%;
    height:10%;
    display:flex;
    justify-content: space-between;
    background: #5D5D5D;
}
#menu_box>.menu li{
    float:right;
    padding-right:100px;
    padding-top:20px;
}
#wrap #topImage{
    width:100%;
    height:300px;
    overflow: hidden;
}
#centerImg{
    width:1290px;
    height: 80px;
    display:flex;
    flex-wrap: wrap;
}
#centerImg>.CT1{
    width:600px;
    height:75px;
}
#centerImg>.CT2{
    width:615px;
    height:75px;
}
.CT2{
    position: relative;
}
span {
    font-size: 20px;
    background: black;
    color: white;
    display: inline-block;
    padding:22px;
    
}